h1{
    color: #2d3436;
}
h3{
    color: #2d3436;
}
#principal{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    color: #2d3436;
}

.dias{
    border: 3px solid #e0e0e0;
    width: 300px;
    height: 420px;
    border-radius: 15px;
    color: #2d3436;
    overflow: hidden;
    padding: 0;
    font-size: 15px;
}

.dias label{
    display: block;
    padding: 5px;
}

.tarea{
    margin: 0;
    font-size: 20px;
    color: #2d3436;
    background-color: #a8dadc;
    padding: 10px;
}

hr{
    background-color: #2d3436;
    margin: 0;
    border: none;
    border-top: 1px solid #e0e0e0;
}

.sandia-feliz{
    height: 25px;
    width: 25px;
}

.pomodoros{
    width: 30px;
    color: #2d3436;
    border: 1px solid #2d3436;
    border-radius: 2.5px;
}

.reflexion{
    font-size: 12px;
    color: #2d3436;
    height: 80px;
    width: 200px;
}

.button{
    background-color: #a8dadc;
    border: 1.5px solid #2d3436;
    color: #2d3436;
    height: 30px;
    font-size: 12px;
    border-radius: 40px;   
    cursor: pointer; 
}

.button:hover{
    background-color: #8cc5c8;
}

.fecha{
    color: #2d3436;
    border: 1px solid #2d3436;
    border-radius: 2.5px;
}

#title-line{
    width: 260px;
    border: 2px solid #468e92;
    border-radius: 10px;
}